@font-face {
  font-family: 'Roboto';
  src: url('/Abra-kadabra/fonts/Roboto-Regular.woff2') format('woff2'),
    url('/Abra-kadabra/fonts/Roboto-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Lobster';
  src: url('/Abra-kadabra/fonts/Lobster-Regular.woff2') format('woff2'),
    url('/Abra-kadabra/fonts/Lobster-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
